# deps
node_modules/
.pnp
.pnp.js

# builds
dist/
.next/
out/
build/
coverage/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example
.dev.vars

# cloudflare
.wrangler/

# prisma
apps/api/prisma/*.db
packages/db/prisma/*.db

# logs
logs/
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# vercel / next
.vercel/

# misc
.turbo/
